/pianobar.xcodeproj/project.xcworkspace/xcuserdata/xschetagne.xcuserdatad/UserInterfaceState.xcuserstate

/pianobar.xcodeproj/xcuserdata/xschetagne.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

/pianobar.xcodeproj/project.xcworkspace/xcshareddata/pianobar.xccheckout
